{{#each schedule}}
	<div class="group">
		{{#if @key}}
			<div class="bracket center column">
				<div class="day">{{day}}</div>
			</div>
		{{/if}}

		<div class="row set">
			{{#each events}}
				<div class="event">
					<div class="time">{{start}}{{#if end}} - {{end}}{{/if}}</div>
					<div class="line row center">
						<div class="icon">
							<img src="/assets/icons/{{icon}}.svg" />
						</div>
					</div>
					<div class="title">{{title}}</div>
				</div>
			{{/each}}
		</div>
	</div>
{{/each}}
