<html lang="en-GB">
<head>
  <meta charset="utf-8">
</head>
<body>
<p>Hi {{preferredNames}},</p>
<p>We hope you’re excited for DurHack this weekend!</p>
<p>
  Registration opens 9:30-10:30am on {{start.day}} {{start.date}}<sup>{{start.dateOrdinalSuffix}}</sup> {{start.month}}.
  Please bring both your <strong>Student ID</strong> (if you have one) and <strong>another piece of ID</strong>
  (e.g. passport, driver's license).
  DurHack will be taking place at the <strong>Teaching and Learning Centre</strong>, South Road, Durham, DH1 3LS.
</p>
<p>
  We’ll be providing meals and lots of snacks for you over the weekend.
  However, if you wish to bring your own food, please don’t bring any snacks which contain <strong>peanuts</strong>
  or <strong>tree-nuts</strong>.
</p>
<p>
  This year, we will have a sleeping space on site, so if you wish to stay at the venue, you might want to bring a
  sleeping bag and pillow. For more info on what to bring, check out our Medium article
  <a href="https://medium.com/@DurHack_press/how-to-prepare-for-a-hackathon-7a0914dbdeb0">here</a>.
</p>
<p>
  If you haven't already, you can still submit your CV via your dashboard page at
  <a href="https://durhack.com/dashboard">durhack.com/dashboard</a>.
  All CVs will be shared with our sponsors who may use them for recruitment for internships and graduate roles.
  You'll also get an extra piece of stash, so make sure to submit yours soon!
</p>
<p>
  As always, if you have any questions, you can get in touch with us at
  <a href="mailto:hello@durhack.com">hello@durhack.com</a>.
  If you can no longer attend, don’t worry at all - you don’t need to message us to let us know.
</p>
<br/>
<p>We look forward to seeing you at DurHack! 💜</p>
<p>Happy Hacking,</p>
<p>The DurHack Team</p>
</body>
</html>
