<html lang="en-GB">
<head>
  <meta charset="utf-8">
</head>
<body>
<p>Hey {{preferredNames}},</p>
<br/>
<p>Congratulations; Your place at DurHack {{currentEventYear}} has been confirmed! 🎉</p>
<p>
  DurHack is taking place at <strong>Durham University's Teaching and Learning Centre</strong>.
  Check-in is from 09:30-10:30 (AM) {{start.day}} {{start.date}}<sup>{{start.dateOrdinalSuffix}}</sup> {{start.month}};
  DurHack is expected to wrap up by around 16:30 on {{end.day}} {{end.date}}
  <sup>{{end.dateOrdinalSuffix}}</sup> {{end.month}}.
</p>
<p>
  If you have any questions regarding the venue or event timings, please check
  <a href="https://durhack.com#faqs">our FAQs</a> or reply to this email.</p>
<br/>
<p>
  Keep this email handy - you will need the following QR code to check in to DurHack.
  It can also be viewed at <a href="https://durhack.com/dashboard">durhack.com</a>.
</p>
<br/>
{{profileQrCode}}
<br/>
<p>We look forward to seeing you at DurHack! 💜</p>
<br/>
<p>Happy Hacking,</p>
<p>The DurHack Team</p>
</body>
</html>
